footer {
  padding: 56px 0 26px;
  background-image: url(../img/footer.jpg);
  background-position: top center;
  background-size: cover;
  font-family: "Nunito", sans-serif;
}
  
h3,  
p {
  color: #5A6980;
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.items__wrap {
  display: flex;
  justify-content: space-between;
}

.item__flex {
  display: flex;
  justify-content: space-between;
  min-width: 612px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  min-width: 135px;
}

.footer__item-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 27px;
}

.footer__item-link {
  font-weight: 400;
  font-size: 16px;
  color: #7E92B3;
  margin-bottom: 8px;
}

.aside-header {
  margin-bottom: 27px;
}

.aside-social {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 40px;
}

.aside-description {
  font-weight: 700;
  font-size: 20px;
  color: #5A6980;
  margin-bottom: 27px;
}

form {
  position: relative;
  width: 364px;
  margin-bottom: 38px;
}

input {
  width: 100%;
  height: 36px;
  border: 3px solid #F3F3F3;
  border-radius: 85px;
  outline: none;
  background-image: url(../img/mail.svg);
  background-size: auto;
  background-position: 17px, center;
  background-repeat: no-repeat;
  padding-left: 37px;
}

button {
  position: absolute;
  top: 7px;
  right: 6px;
  width: 29px;
  height: 29px;
  border: none;
  background-color: transparent;
  background-image: url(../img/button.svg);
  background-position: center;
  background-size: cover;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  border-top: 1px solid #B4D2FF;
}

.footer__bottom-them {
  font-weight: 700;
  font-size: 16px;
  color: #6C7E99;
}

.img-copyright {
  vertical-align: middle;
  margin: 0 10px 0;
}

.img-right {
  vertical-align: middle;
  margin: 0 8px 0 0;
}

.footer__bottom-rights {
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
  color: #7E92B3;
}

.footer__bottom-co {
  vertical-align: middle;
  font-weight: 700;
  font-size: 16px;
  color: #6C7E99;
}